/* fonts */
@font-face {
    font-family: 'Lato';
    src: local('LatoRegular'), local('Lato-Regular'),
    url('../fonts/Lato-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}

/* common specification */
html {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: linear-gradient(-45deg, #8D83FD, #bc2cd6a9, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

*,*::after,*::before {
    box-sizing: inherit;
}

:root {
    --color-white: #ffffff;
    --cornflower-blue: #8D83FD;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn-reset {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    opacity: 0.6;
    background-color: transparent;
    color: var(--color-white);
}